* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #101932;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #112a58;
  padding: 1rem 2rem;
  padding-right: 6rem;
  padding-left: 5rem;
}

header img {
  width: 180px;
  height: auto;
  max-height: 80px;
}

#hamburguer {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.5rem;
}

nav a:hover {
  color: gray;
}


#carrossel {
  padding: 2rem;
  position: relative;
}


.carrossel-container {
  max-width: 75%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  border-radius: 0.6rem ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#carrossel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#carrossel img.ativo {
  opacity: 1;
}

.controles {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.75rem;
}

.controle {
  width: 1rem;
  height: 1rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.controle.ativo {
  background: #fff;
  transform: scale(1.2);
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 0.5rem;
  z-index: 10;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}


.prev-btn {
  left: 5rem;
}

.next-btn {
  right: 5rem;
}

#sobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

#sobre-texto {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

#sobre-texto h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#sobre-texto p {
  font-size: 2rem;
}

#mascote {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

#mascote img {
  max-width: 100%;
  height: auto;
}

#sobre-inferior {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
}

#sobre-inferior div {
  flex: 1;
  min-width: 200px;
  text-align: center;
  padding: 1.5rem;
  background-color: #2c4066;
  border-radius: 0.6rem;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

#sobre-inferior div:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.3);
}

#sobre-inferior h2 {
  font-size: 2rem;
  position: relative;
  margin-bottom: 1rem;
}

#sobre-inferior h2:after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: #ffd700;
}

#sobre-inferior p {
  font-size: 2rem;
}

#equipe {
  text-align: center;
  padding: 2rem;
}

#equipe h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#membros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1600px;
  margin: 0 auto;
}

.membro {
  background-color: #2c4066;
  padding: 1rem;
  flex: 0 1 250px;
  border-radius: 1rem;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.membro:hover {
  transform: scale(1.03);
  background-color: rgba(0, 0, 0, 0.3);
}

.membro img {
  width: 100%;
  height: auto;
  border: 4px solid #f1c40f;
  border-radius: 0.6rem;
}

.membro h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  
}

.membro ul {
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: #f5d469;
}

.membro ul li {
  margin: 0.3rem 0;
}

#jogo {
  text-align: center;
  padding: 2rem;
}

#jogo h1{
  font-size: 3rem;
}

#jogo h2{
  font-size: 2rem;
  color: #f1a90f;
}

.trailer-card {
  width: 100%;
  max-width: 1260px;
  margin: 2rem auto;
  background-color: #2a4066;
  border: 5px solid #ffd700;
  border-radius: 0.6rem;
  padding: 1rem;
}

.trailer-card iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

#contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
  padding-right: 10rem;
}

.contact-info {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.contact-info h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact-info div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.contact-info i {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #4a6ea9;
}

.form-container {
  flex: 1;
  min-width: 250px;
  background-color: #2a4066;
  padding: 1.5rem;
  border-radius: 1rem;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  margin: 0.8rem 0;
  padding: 0.8rem;
  background: transparent;
  border: 2px solid #ffd700;
  color: white;
  font-size: 1rem;
}

.form textarea {
  resize: none;
  height: 120px;
}

.form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #ffd700;
  border: none;
  border-radius: 0.6rem;
  color: rgb(100, 100, 100);
  font-size: 1rem;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #112a58;
}

footer span {
  font-size: 1.2rem;
  flex-grow: 1;
  text-align: center;
}

footer img {
  width: 3rem;
}
html {
  scroll-behavior: smooth;
}



@media (max-width: 768px) {
  header {
    position: relative;
    padding: 1rem;
  }

  #hamburguer {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1a2a44;
    padding: 1rem;
    z-index: 1000;
  }

  nav.active {
    display: block;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .carrossel-container {
    max-width: 90%;
  }

  .nav-btn {
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .controle {
    width: 0.6rem;
    height: 0.6rem;
  }

  #sobre,
  #sobre-inferior {
    flex-direction: column;
  }

  #mascote {
    margin-top: 1rem;
  }

  .prev-btn {
  left: 1.5rem;
  }
  .next-btn {
    right: 1.5rem;
  }

  .membro {
    flex: 0 1 calc(33% - 1rem);
  }
  #contato {
      padding-right: 2rem;
  }
}

@media (max-width: 425px) {
  .carrossel-container {
    max-width: 100%;
    aspect-ratio: 4 / 3;
  }

  .nav-btn {
    padding: 0.4rem;
    font-size: 1rem;
  }

  .membro {
    flex: 0 1 45%;
  }
  #contato {
      padding-right: 2rem;
  }
  .prev-btn {
    left: 0.35rem;
  }
  .next-btn {
    right: 0.35rem;
  }
}   

#parceria  h1{
  text-align: center;
  font-size: 3rem;
}


.parceiros-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}


.parceiro-item {
    width: calc(33.33% - 1rem);
    max-width: 500px; 
    

    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-parceiro {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
@media (max-width: 768px) {
    .parceiro-item {
        width: calc(50% - 10px); 
    }
}

@media (max-width: 500px) {
    .parceiro-item {
        width: 100%;
        max-width: none;
    }
}